<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-icon name="clipboard-outline"></ion-icon>
    <ion-title>Cronologia del Partido</ion-title>
  </ion-toolbar>
  <ion-button (click)="volver()">Volver</ion-button>
</ion-header>

<ion-content class="ion-text-center">

  <ion-card>
    <ion-card-header>
      <ion-title>{{cronologia.nombreLocal}}:</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="football-outline"></ion-icon>
      Goles: {{cronologia.golesCasa}} -->
      <ion-icon name="time-outline"></ion-icon>
      Minutos: [{{cronologia.minutosCasa}}]
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>{{cronologia.nombreVisitante}}:</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="football-outline"></ion-icon>
      Goles: {{cronologia.golesFuera}} -->
      <ion-icon name="time-outline"></ion-icon>
      Minutos: [{{cronologia.minutosFuera}}]
    </ion-card-content>
  </ion-card>

</ion-content>