<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment class="segmentos">
      <ion-segment-button value="jornada" (click)="visible=true">
        <ion-icon name="football-outline"></ion-icon>
        JORNADA
      </ion-segment-button>
      <ion-segment-button value="clasificacion" (click)="visible=false">
        <ion-icon name="trophy-outline"></ion-icon>
        CLASIFICACION
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-content *ngIf="visible">
    <ion-label class="titulo">Jornada número: {{this.numeroJornada}}. Fecha: {{obtenerFechaConcreta()}}</ion-label>
    <ion-label *ngIf="this.numeroJornada<=(this.limiteDeJornadas/2)" class="titulo"> Partidos de Ida:</ion-label>
    <ion-label *ngIf="this.numeroJornada>(this.limiteDeJornadas/2)" class="titulo"> Partidos de Vuelta:</ion-label>
    <ion-card class="partido" *ngFor="let partido of resultado" (click)="mostrarCronologiaDatos(partido)">
      <ion-card-header>
        <ion-label>{{partido.local}} : {{partido.visitante}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-icon name="walk-outline"></ion-icon>
            <ion-icon name="football-outline"></ion-icon>
            {{partido.golesLocal}} : {{partido.golesVisitante}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-content>
  <ion-content *ngIf="!visible" class="ion-text-center">

    <ion-label class="titulo">Clasificacion de la Última Jornada jugada</ion-label>

    <ion-row class="parteArriba">
      <ion-col class="parteArriba">
        <ion-icon name="podium-outline"></ion-icon>Posicion

      </ion-col>
      <ion-col class="parteArriba">
        <ion-icon name="happy-outline"></ion-icon>Equipo
      </ion-col>
      <ion-col class="parteArriba">
        <ion-icon name="calculator-outline"></ion-icon>Puntos
      </ion-col>
      <ion-col class="parteArriba">
        <ion-icon name="football-outline"></ion-icon>
        <ion-icon name="arrow-up-outline"></ion-icon>GolesFavor
      </ion-col>
      <ion-col class="parteArriba">
        <ion-icon name="football-outline"></ion-icon>
        <ion-icon name="arrow-down-outline"></ion-icon>GolesContra
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let equipo of clasificacion.listaEquiposArray">
      <ion-col class="tabla">{{equipo.posicion}}</ion-col>
      <ion-col class="tabla">{{equipo.nombre}}</ion-col>
      <ion-col class="tabla">{{equipo.puntos}}</ion-col>
      <ion-col class="tabla">{{equipo.golesFavor}}</ion-col>
      <ion-col class="tabla">{{equipo.golesContra}}</ion-col>
    </ion-row>


    <ion-label class="final">
      <ion-icon name="trophy-sharp"></ion-icon>Ganador de esta jornada: {{clasificacion.listaEquiposArray[0].nombre}}
    </ion-label>
    <ion-label *ngIf="isJornadaFinal()" class="final">
      <ion-icon name="trophy-sharp"></ion-icon>
      Ganador Final de la Liga: {{clasificacion.listaEquiposArray[0].nombre}}
    </ion-label>
  </ion-content>
  <ion-footer *ngIf="visible">
    <ion-item expand="full">
      <ion-button slot="start" size="small" (click)="jornadaAnterior()">
        <ion-icon name="arrow-back-outline"></ion-icon>Anterior
      </ion-button>
      <ion-button slot="end" size="small" (click)="jornadaSiguiente()">Siguiente<ion-icon name="arrow-forward-outline">
        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-footer>