<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="jornada" (click)="visible=true">
        <ion-icon name="football-outline"></ion-icon>
        JORNADA
      </ion-segment-button>
      <ion-segment-button value="clasificacion" (click)="visible=false">
        <ion-icon name="trophy-outline"></ion-icon>
        CLASIFICACION
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-content *ngIf="visible">
    <ion-label>Jornada número: {{this.numeroJornada}}. Fecha: {{obtenerFechaConcreta()}}</ion-label>
    <ion-label *ngIf="this.numeroJornada<=(this.limiteDeJornadas/2)"> Partidos de Ida:</ion-label>
    <ion-label *ngIf="this.numeroJornada>(this.limiteDeJornadas/2)"> Partidos de Vuelta:</ion-label>
    <ion-card *ngFor="let partido of resultado" (click)="mostrarCronologiaDatos(partido)">
      <ion-card-header>
        <ion-label>{{partido.local}} : {{partido.visitante}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-icon name="walk-outline"></ion-icon>
            <ion-icon name="football-outline"></ion-icon>
            {{partido.golesLocal}} : {{partido.golesVisitante}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-content>
  <ion-content *ngIf="!visible" class="ion-text-center">

    <ion-label>Clasificacion de la Jornada {{this.numeroJornada}}</ion-label>

    <ion-row class="tabla">
      <ion-col class="tabla">Posicion</ion-col>
      <ion-col class="tabla">Equipo</ion-col>
      <ion-col class="tabla">Puntos</ion-col>
      <ion-col class="tabla">GolesFavor</ion-col>
      <ion-col class="tabla">GolesContra</ion-col>
    </ion-row>

    <ion-row *ngFor="let equipo of clasificacion.listaEquiposArray">
      <ion-col class="tabla">{{equipo.posicion}}</ion-col>
      <ion-col class="tabla">{{equipo.nombre}}</ion-col>
      <ion-col class="tabla">{{equipo.puntos}}</ion-col>
      <ion-col class="tabla">{{equipo.golesFavor}}</ion-col>
      <ion-col class="tabla">{{equipo.golesContra}}</ion-col>
    </ion-row>



  </ion-content>
  <ion-footer>
    <ion-item expand="full">
      <ion-button slot="start" size="small" (click)="jornadaAnterior()">Anterior</ion-button>
      <ion-button slot="end" size="small" (click)="jornadaSiguiente()">Siguiente</ion-button>
    </ion-item>
  </ion-footer>